.img-brand{
    max-width: 35%;
}


.background1{
    background: #f7f7f7 !important;
}

.background2{
    background: #fff !important;
}
@media (max-width:572px) {
    .back-mobile{
        background-image: url('../images/background-2.jpg');
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: 88%; 
    }
    .mobile-div-in{
        display: none;
    }

}

@media (min-width:572px) {
    .mobile-div{
        display: none;
    }
}


